@import url(https://fonts.googleapis.com/css?family=Anaheim);

.page.blade.php {
    background-color: bleu;
}


/* body */


body {
    /* background-image: url(https://cdn.pixabay.com/photo/2016/02/27/06/43/cherry-blossom-tree-1225186_960_720.jpg); */
    background-image: url(https://cdn.pixabay.com/photo/2014/04/14/20/11/pink-324175_960_720.jpg);

    background-size: cover;
}